
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "0C0904E4"
	{
		VALUE "CompanyName", "Vengeance Online RPG"
		VALUE "FileDescription", "http://vengeance-rpg.com/"
		VALUE "FileVersion", "1.0.0.0"
		VALUE "InternalName", "Vengeance Updater"
		VALUE "LegalCopyright", "Copyright 2010"
		VALUE "LegalTrademarks", ""
		VALUE "OriginalFilename", "Vengeance Updater"
		VALUE "ProductName", ""
		VALUE "ProductVersion", "1.0.0.0"
		VALUE "Comments", ""
		VALUE "Aditional Notes", ""
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0C09 0x04E4
}
}
